:root{
    --pink-color: #cc3566;
    --primary-color: rgb(239, 37, 107);
    --black-color: #000000;
    --white-color: #FFF7FC;
    --icon-color: #8A85BB;
}

* {
    padding: 0;
    margin: 0;
}

.main {

}

html{
    font-family: 'Roboto', sans-serif;
}

body{ 
    /* background-color: #000000; */
}

.grid{
    margin: 0 20px;
   


}


.random.active,
.repeat.active
{
    /* color: var(--primary-color); */
    background-image: linear-gradient(#9796f0 0%,  #fbc7d4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 
.song_img.active {
    transform: rotate(100deg)!important;

} */

.song-item.active{
    
    /* background-image: linear-gradient(#9796f0 0%,  #fbc7d4 100%); */
    background-image: linear-gradient(#5754ea 0%,  #f8b8c8 100%); 
    opacity: 1;
}

.song-item.active .s-song-name,
.song-item.active .s-song-singer,
.song-item.active .option-select
{
    color: rgba(255, 255, 255, 0.9);

}